aiohttp
aiosignal
async-timeout
attrs
bidict
blinker
bson
certifi
charset-normalizer
click
colorama
distlib
dnspython
eventlet
filelock
Flask
Flask-Cors
Flask-SocketIO
frozenlist
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
multidict
openai
platformdirs
pymongo
python-dateutil
python-engineio
python-socketio
requests
six
tabulate
tqdm
urllib3
virtualenv
Werkzeug
yarl
